.auth {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #0a1c2da3;
}

.loginForm {
  height: 50%;
  padding: 2vh;
  justify-content: space-around;
  border-radius: 32px;
  background: var(--cream);
  box-shadow: var(--cardShadow);
}

.loginInputs {
  margin-bottom: 4vh;
  height: 200px;
  justify-content: flex-end;
}

.formInput, .formSubmit {
  width: 240px;
  height: 32px;
  border: var(--border);
  padding: 0 1vh;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 32px;
  outline: none;
}

.formSubmit {
  background-color: var(--color1);
  color: white;
  cursor: pointer;
}

.signUpText, .backButton {
  cursor: pointer;
}